---
---

<!DOCTYPE html>
<html lang="{{ site.locale | default: "ko" }}" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" type="image/png" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/sparkles_2728.png">
    <script src="https://kit.fontawesome.com/db9309a607.js" crossorigin="anonymous"></script>
    <title>{{site.title}}</title>
  </head>

  <body>
    {% include author.html %}
    {{content}}
  </body>
</html>
